<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <variable name="day" value="${date:format=dd-MM-yyyy}"/>
  <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>
  <targets>


    <target name="file" xsi:type="File" layout="${verbose}" fileName="${basedir}/log/${day}log.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>